<?xml version="1.0" encoding="utf-8"?>

<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties>
    <property resource="bin/Configuration/Database.config" />
  </properties>

  <settings>
    <setting useStatementNamespaces="false" />
  </settings>

  <providers resource="bin/Configuration/Providers.config" />

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="sqlserver_connection"
                connectionString="Data Source=${datasource3};Initial Catalog=${database3};Persist Security Info=True;User ID=${userid3};Password=${password3}" />
  </database>

  <sqlMaps>
    <!-- Warehouse Tables -->
    <sqlMap resource="bin/DataMapper/Warehouse/Aisle.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/Area.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/AreaGroup.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/Container.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/ContainerType.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/GroupMemeber.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/Location.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/LocationSafetyStock.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/LocationTag.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/OperatorGroup.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/SafetyStock.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/Setting.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/Shelf.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/SkuLocation.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/SkuTag.config" />
    <sqlMap resource="bin/DataMapper/Warehouse/Tag.config" />
  </sqlMaps>
</sqlMapConfig>