<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://localhost/WmsAutoUpdater/AutoUpdaterService.config</ServerUrl>
  <UpdateFileList>
    <LocalFile path="Wms.exe" lastver="1.0.0.0" size="11913728" />
  </UpdateFileList>
</Config>