<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:r="http://www.springframework.net/remoting">
      <object id="ApplicationService" type="Business.Service.Contract.IApplicationService, Business.Service.Contract" factory-object="ApplicationServiceChannelFactory" factory-method="CreateChannel" />
      <object id="ApplicationServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.IApplicationService&gt;, System.ServiceModel">
        <constructor-arg name="endpointConfigurationName" value="ApplicationServiceEndpoint" />
      </object>

        <object id="BasicDataService" type="Business.Service.Contract.IBasicDataService, Business.Service.Contract" factory-object="BasicDataServiceChannelFactory" factory-method="CreateChannel" />
        <object id="BasicDataServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.IBasicDataService&gt;, System.ServiceModel">
          <constructor-arg name="endpointConfigurationName" value="BasicDataServiceEndpoint" />
        </object>
    </objects>
  </spring>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" transferMode="Streamed" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10240000" maxBufferSize="10240000" maxReceivedMessageSize="10240000">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="ApplicationServiceEndpoint" address="http://localhost/WMS/Service/Application.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.IApplicationService" />
      <endpoint name="BasicDataServiceEndpoint" address="http://localhost/WMS/Service/BasicData.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.IBasicDataService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Library">
      </probing>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="LanguageCode" value="zh-CHS" />
    <add key="PrintIndex" value="0" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value=""/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>