<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:r="http://www.springframework.net/remoting">
      <object id="ApplicationService" type="Business.Service.Contract.IApplicationService, Business.Service.Contract" factory-object="ApplicationServiceChannelFactory" factory-method="CreateChannel" />
      <object id="ApplicationServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.IApplicationService&gt;, System.ServiceModel">
        <constructor-arg name="endpointConfigurationName" value="ApplicationServiceEndpoint" />
      </object>

        <object id="BasicDataService" type="Business.Service.Contract.IBasicDataService, Business.Service.Contract" factory-object="BasicDataServiceChannelFactory" factory-method="CreateChannel" />
        <object id="BasicDataServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.IBasicDataService&gt;, System.ServiceModel">
          <constructor-arg name="endpointConfigurationName" value="BasicDataServiceEndpoint" />
        </object>

      <object id="WarehouseService" type="Business.Service.Contract.IWarehouseService, Business.Service.Contract" factory-object="WarehouseServiceChannelFactory" factory-method="CreateChannel" />
      <object id="WarehouseServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.IWarehouseService&gt;, System.ServiceModel">
        <constructor-arg name="endpointConfigurationName" value="WarehouseServiceEndpoint" />
      </object>
      
      <object id="SkuService" type="Business.Service.Contract.ISkuService, Business.Service.Contract" factory-object="SkuServiceChannelFactory" factory-method="CreateChannel" />
      <object id="SkuServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.ISkuService&gt;, System.ServiceModel">
        <constructor-arg name="endpointConfigurationName" value="SkuServiceEndpoint" />
      </object>

      <object id="InboundService" type="Business.Service.Contract.IInboundService, Business.Service.Contract" factory-object="InboundServiceChannelFactory" factory-method="CreateChannel" />
      <object id="InboundServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.IInboundService&gt;, System.ServiceModel">
        <constructor-arg name="endpointConfigurationName" value="InboundServiceEndpoint" />
      </object>

      <object id="InventoryService" type="Business.Service.Contract.IInventoryService, Business.Service.Contract" factory-object="InventoryServiceChannelFactory" factory-method="CreateChannel" />
      <object id="InventoryServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.IInventoryService&gt;, System.ServiceModel">
        <constructor-arg name="endpointConfigurationName" value="InventoryServiceEndpoint" />
      </object>

      <object id="OutboundService" type="Business.Service.Contract.IOutboundService, Business.Service.Contract" factory-object="OutboundServiceChannelFactory" factory-method="CreateChannel" />
      <object id="OutboundServiceChannelFactory" type="System.ServiceModel.ChannelFactory&lt;Business.Service.Contract.IOutboundService&gt;, System.ServiceModel">
        <constructor-arg name="endpointConfigurationName" value="OutboundServiceEndpoint" />
      </object>
    </objects>
  </spring>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" transferMode="Streamed" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="10240000" maxBufferSize="10240000" maxReceivedMessageSize="10240000">
          <readerQuotas maxDepth="10240000" maxStringContentLength="10240000" maxArrayLength="10240000" maxBytesPerRead="10240000" maxNameTableCharCount="10240000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="ApplicationServiceEndpoint" address="http://localhost/WMS/Service/Application.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.IApplicationService" />
      <endpoint name="BasicDataServiceEndpoint" address="http://localhost/WMS/Service/BasicData.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.IBasicDataService" />
      <endpoint name="WarehouseServiceEndpoint" address="http://localhost/WMS/Service/Warehouse.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.IWarehouseService" />
      <endpoint name="SkuServiceEndpoint" address="http://localhost/WMS/Service/Sku.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.ISkuService" />
      <endpoint name="InboundServiceEndpoint" address="http://localhost/WMS/Service/Inbound.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.IInboundService" />
      <endpoint name="InventoryServiceEndpoint" address="http://localhost/WMS/Service/Inventory.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.IInventoryService" />
      <endpoint name="OutboundServiceEndpoint" address="http://localhost/WMS/Service/Outbound.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Business.Service.Contract.IOutboundService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Library">
      </probing>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="LanguageCode" value="zh-CHS" />
    <add key="PrintIndex" value="0" />
    <add key="PrintBarcodePath" value="" />
    <add key="ImagesPath" value="D:\SkuImages" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value=""/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MES" connectionString="Data Source=localhost;Initial Catalog=MES;Persist Security Info=True;User ID=sa;Password=yueyi_whb@810718" />
    <add name="WMS" connectionString="Data Source=localhost;Initial Catalog=WMS;Persist Security Info=True;User ID=sa;Password=yueyi_whb@810718" />
    <add name="Application" connectionString="Data Source=localhost;Initial Catalog=Application;Persist Security Info=True;User ID=sa;Password=yueyi_whb@810718" />
    <add name="Inventory" connectionString="Data Source=localhost;Initial Catalog=Inventory;Persist Security Info=True;User ID=sa;Password=yueyi_whb@810718" />
  </connectionStrings>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>