<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

  </appSettings>
  <connectionStrings>

    <add name="MES" connectionString="Data Source=localhost;Initial Catalog=MES;Persist Security Info=True;User ID=sa;Password=sosql2k8X"/>
    <add name="WMS" connectionString="Data Source=localhost;Initial Catalog=WMS;Persist Security Info=True;User ID=sa;Password=sosql2k8X"/>
    <add name="Application" connectionString="Data Source=localhost;Initial Catalog=Application;Persist Security Info=True;User ID=sa;Password=sosql2k8X"/>
    <add name="Inventory" connectionString="Data Source=localhost;Initial Catalog=Inventory;Persist Security Info=True;User ID=sa;Password=sosql2k8X"/>


  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
