<?xml version="1.0" encoding="utf-8"?>

<sqlMap namespace="SkuLocation" xmlns="http://ibatis.apache.org/mapping"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="SkuLocation" type="Business.Domain.Warehouse.SkuLocation,Business.Domain" />
    <!--<typeAlias alias="Location" type="Business.Domain.Warehouse.Location,Business.Domain" />-->
  </alias>

  <!-- 缓存机制 -->
  <cacheModels>
    <cacheModel id="SkuLocationCache" implementation="MEMORY">
      <!-- 设定缓存有效期，如果超过此设定值，则将此CacheModel缓存清空 -->
      <flushInterval minutes="5" />
      <flushOnExecute statement="SkuLocation.Insert" />
      <flushOnExecute statement="SkuLocation.Update" />
      <flushOnExecute statement="SkuLocation.Delete" />
      <flushOnExecute statement="SkuLocation.DeleteAll" />
      <property name="Type" value="Weak" />
    </cacheModel>
  </cacheModels>

  <resultMaps>
    <resultMap class="SkuLocation" id="SkuLocation_Result">
      <result column="Id" property="Id" />
      <result column="WarehouseId" property="WarehouseId" />
      <result column="SkuId" property="SkuId" />
      <result column="LocationId" property="LocationId" />
    </resultMap>

    <resultMap class="Location" id="Location_Result">
      <result column="LocationId" property="LocationId" />
      <result column="LocationCode" property="LocationCode" />
      <result column="LocationName" property="LocationName" />
      <result column="WarehouseId" property="WarehouseId" />
      <result column="AreaId" property="AreaId" />
      <result column="ShelfId" property="ShelfId" />
      <result column="ShelfRow" property="ShelfRow" />
      <result column="ShelfColumn" property="ShelfColumn" />
      <result column="ShelfDepth" property="ShelfDepth" />
      <result column="CoordX" property="CoordX" />
      <result column="CoordY" property="CoordY" />
      <result column="CoordZ" property="CoordZ" />
      <result column="Length" property="Length" />
      <result column="Width" property="Width" />
      <result column="Height" property="Height" />
      <result column="BearingWeight" property="BearingWeight" />
      <result column="Barcode" property="Barcode" />
      <result column="Route" property="Route" />
      <result column="Remark" property="Remark" />
      <result column="CreateUser" property="CreateUser" />
      <result column="CreateTime" property="CreateTime" />
      <result column="EditUser" property="EditUser" />
      <result column="EditTime" property="EditTime" />
      <result column="IsActive" property="IsActive" />
    </resultMap>
  </resultMaps>

  <parameterMaps>
    <parameterMap id="SplitPagerParameters" class="Hashtable">
      <parameter property="TableName" column="TableName" />
      <parameter property="SelectFields" column="SelectFields" />
      <parameter property="OrderByField" column="OrderByField" />
      <parameter property="PageSize" column="PageSize" />
      <parameter property="PageIndex" column="PageIndex" />
      <parameter property="OrderType" column="OrderType" />
      <parameter property="SelectCondition" column="SelectCondition" />
      <parameter property="RecordsCount" column="RecordsCount" direction="Output" />
    </parameterMap>

    <parameterMap id="GetLocationsParameter" class="Hashtable">
      <parameter property="WarehouseId" column="WarehouseId" />
      <parameter property="AreaType" column="AreaType" />
    </parameterMap>
  </parameterMaps>

  <statements>
    <select id="SkuLocation.Get" resultMap="SkuLocation_Result" cacheModel="SkuLocationCache">
      <![CDATA[
                SELECT Id,WarehouseId,SkuId,LocationId FROM dbo.SkuLocation WITH (NOLOCK)
                    WHERE Id = #Id#
            ]]>
    </select>

    <select id="SkuLocation.GetAll" resultMap="SkuLocation_Result">
      <![CDATA[
                SELECT Id,WarehouseId,SkuId,LocationId
                    FROM dbo.SkuLocation WITH (NOLOCK)
            ]]>
    </select>

    <select id="SkuLocation.GetByCondition" resultMap="SkuLocation_Result" cacheModel="SkuLocationCache">
      <![CDATA[
                SELECT Id,WarehouseId,SkuId,LocationId
                    FROM dbo.SkuLocation WITH (NOLOCK)
                    WHERE $value$
            ]]>
    </select>

    <procedure id="SkuLocation.GetByPager" parameterMap="SplitPagerParameters" resultMap="SkuLocation_Result">
      <![CDATA[
                Usp_SplitPager
            ]]>
    </procedure>

    <insert id="SkuLocation.Insert" parameterClass="SkuLocation">
      <![CDATA[
                INSERT INTO dbo.SkuLocation 
                    (WarehouseId,SkuId,LocationId) 
                VALUES 
                    (#WarehouseId#,#SkuId#,#LocationId#)
            ]]>
      <selectKey resultClass="int" type="post" property="Id">
        <![CDATA[
                SELECT @@IDENTITY as value
            ]]>
      </selectKey>
    </insert>

    <update id="SkuLocation.Update" parameterClass="SkuLocation">
      <![CDATA[
                UPDATE dbo.SkuLocation SET WarehouseId = #WarehouseId#,SkuId = #SkuId#,LocationId = #LocationId#
                    WHERE Id = #Id#
            ]]>
    </update>

    <delete id="SkuLocation.Delete" parameterClass="SkuLocation">
      <![CDATA[
                DELETE FROM dbo.SkuLocation WHERE Id = #Id#
            ]]>
    </delete>

    <delete id="SkuLocation.DeleteAll" parameterClass="SkuLocation">
      <![CDATA[
                DELETE FROM dbo.SkuLocation
            ]]>
    </delete>

    <select id="SkuLocation.GetLocations" resultMap="Location_Result" parameterMap="GetLocationsParameter">
      <![CDATA[
                SELECT l.LocationId,l.LocationCode,l.LocationName,l.WarehouseId,l.AreaId,l.ShelfId,l.ShelfRow,l.ShelfColumn,l.ShelfDepth,l.CoordX,l.CoordY,l.CoordZ,l.Length,l.Width,l.Height,l.BearingWeight,l.Barcode,l.Route,l.Remark,l.CreateUser,l.CreateTime,l.EditUser,l.EditTime,l.IsActive 
                FROM dbo.Location l WITH (NOLOCK)
                INNER JOIN dbo.SkuLocation sl ON sl.LocationId = l.LocationId
                INNER JOIN join dbo.Area a ON a.AreaId = l.AreaId
                WHERE l.WarehouseId = #WarehouseId# AND sl.SkuId = #SkuId# AND a.AreaType = #AreaType#
            ]]>
    </select>
  </statements>
</sqlMap>