<?xml version="1.0" encoding="utf-8"?>

<businessException>
  <category>
    <name>System Exception</name>
    
    <exceptions>
      <exception>
        <code>UNTREATED_ANOMALY</code>
        <message>未处理的异常。</message>
      </exception>
      <exception>
        <code>UNTREATED_SYSTEM_ANOMALY</code>
        <message>未处理的系统异常。</message>
      </exception>
      <exception>
        <code>UNTREATED_BUSINESS_ANOMALY</code>
        <message>未处理的业务异常。</message>
      </exception>
      <exception>
        <code>UNTREATED_SERVICE_ANOMALY</code>
        <message>未处理的服务异常。</message>
      </exception>
      <exception>
        <code>INVALID_ENEITY_ANOMALY</code>
        <message>不合法的业务实体异常。</message>
      </exception>
      <exception>
        <code>DATAACCESS_ERROR</code>
        <message>未处理的数据访问异常。</message>
      </exception>
      <exception>
        <code>DATAAPPEND_ERROR</code>
        <message>未处理的数据新增异常。</message>
      </exception>
      <exception>
        <code>DATAQUERY_ERROR</code>
        <message>未处理的数据查询异常。</message>
      </exception>
      <exception>
        <code>DATAUPDATE_ERROR</code>
        <message>未处理的数据编辑异常。</message>
      </exception>
      <exception>
        <code>DATADELETE_ERROR</code>
        <message>未处理的数据删除异常。</message>
      </exception>
    </exceptions>
  </category>
  <category>
    <name>
      Application Exception
    </name>
    <exceptions>
      <exception>
        <code>USER_NOTFOUND</code>
        <message>登录的用户账户不存在。</message>
      </exception>
      <exception>
        <code>GROUP_REMOVEUSER_FAILED</code>
        <message>从用户组中移出用户失败。</message>
      </exception>
      <exception>
        <code>ROLE_REMOVEUSER_FAILED</code>
        <message>从角色中移出用户失败。</message>
      </exception>
      <exception>
        <code>USER_DELETE_FAILED</code>
        <message>删除系统用户失败。</message>
      </exception>
      <exception>
        <code>USER_PASSWORD_ERROR</code>
        <message>登录用户口令不正确。</message>
      </exception>
      <exception>
        <code>USERCODE_EXISTS</code>
        <message>用户代码已存在。</message>
      </exception>
      <exception>
        <code>ROLECODE_EXISTS</code>
        <message>角色代码已经存在。</message>
      </exception>
      <exception>
        <code>FUNCTIONCODE_EXISTS</code>
        <message>功能代码已经存在。</message>
      </exception>
      <exception>
        <code>PARAMETRCODE_EXISTS</code>
        <message>参数代码已经存在。</message>
      </exception>
      <exception>
        <code>DICTIONARYCODE_EXISTS</code>
        <message>数据字典代码已存在。</message>
      </exception>
      <exception>
        <code>GROUPCODE_EXISTS</code>
        <message>用户组代码已经存在。</message>
      </exception>
      <exception>
        <code>GROUP_HAS_USER</code>
        <message>用户已经存在于该用户组</message>
      </exception>
      <exception>
        <code>USER_DISABLED</code>
        <message>登录的用户账户被禁用</message>
      </exception>
      <exception>
        <code>APPLICATION_EXISTS</code>
        <message>应用程序代码已经存在</message>
      </exception>
      <exception>
        <code>APPLICATION_NOTFOUND</code>
        <message>应用程序不存在</message>
      </exception>
    </exceptions>
  </category>
  <category>
    <name>Wms Exception</name>
    <exceptions>
      <exception>
        <code>COMPANYCODE_EXISTS</code>
        <message>公司代码已存在。</message>
      </exception>
      <exception>
        <code>SKUNUMBER_EXISTS</code>
        <message>货物代码已存在。</message>
      </exception>
      <exception>
        <code>SKU_CREATE_ERROR</code>
        <message>货物创建错误。</message>
      </exception>
      <exception>
        <code>SKU_NOTFOUND</code>
        <message>货物不存在。</message>
      </exception>
      <exception>
        <code>SKUMANAGEMENT_NOTFOUND</code>
        <message>货物管理方式不存在。</message>
      </exception>
      <exception>
        <code>PACK_NOTFOUND</code>
        <message>货物包装不存在。</message>
      </exception>
    </exceptions>
  </category>
  <category>
    <name>Warehouse Exception</name>
    <exceptions>
      <exception>
        <code>SETTING_CREATE_ERROR</code>
        <message>创建仓库设置失败。</message>
      </exception>
      <exception>
        <code>WAREHOUSECODE_EXISTS</code>
        <message>仓库代码已存在。</message>
      </exception>
      <exception>
        <code>AREACODE_EXISTS</code>
        <message>库区代码已存在。</message>
      </exception>
      <exception>
        <code>LOCATION_NOTFOUND</code>
        <message>库位不存在。</message>
      </exception>
      <exception>
        <code>CONTAINER_NOTFOUND</code>
        <message>容器不存在。</message>
      </exception>
      <exception>
        <code>CONTAINERCODE_EXISTS</code>
        <message>仓库容器代码已存在。</message>
      </exception>
      <exception>
        <code>CONTAINERTYPECODE_EXISTS</code>
        <message>仓库容器类型代码已存在。</message>
      </exception>   
      <exception>
        <code>LOCATIONCODE_EXISTS</code>
        <message>仓库库位代码已存在。</message>
      </exception>    
      <exception>
        <code>SETTINGCODE_EXISTS</code>
        <message>仓库设置代码已存在。</message>
      </exception>
      <exception>
        <code>TAGNUMBER_EXISTS</code>
        <message>仓库标签代码已存在。</message>
      </exception>
      <exception>
        <code>SKUTAG_EXISTS</code>
        <message>仓库货物标签映射已存在。</message>
      </exception>
      <exception>
        <code>LOCATIONTAG_EXISTS</code>
        <message>仓库库位标签映射已存在。</message>
      </exception>
    </exceptions>
  </category>
  <category>
    <name>Inventory Exception</name>
    <exceptions>
      <exception>
        <code>INBOUNDPLAN_MORE_QTY</code>
        <message>入库计划已收货数量超出计划数量。</message>
      </exception>
      <exception>
        <code>INBOUNDPLAN_NOTFOUND</code>
        <message>入库计划不存在。</message>
      </exception>
      <exception>
        <code>INBOUNDPLAN_DETAIL_CREATE_ERROR</code>
        <message>入库计划无明细信息，创建失败。</message>
      </exception>
      <exception>
        <code>INBOUNDPLAN_CREATE_ERROR</code>
        <message>入库计划创建失败。</message>
      </exception>
      <exception>
        <code>INBOUNDPLAN_DETAIL_UPDATE_ERROR</code>
        <message>入库计划无明细信息，更新失败。</message>
      </exception>
      <exception>
        <code>INBOUNDPLAN_UPDATE_ERROR</code>
        <message>入库计划更新失败。</message>
      </exception>
      <exception>
        <code>4006</code>
        <message>入库计划明细更新失败。</message>
      </exception>
      <exception>
        <code>4007</code>
        <message>入库计划已进行处理，无法作废。</message>
      </exception>
      <exception>
        <code>4008</code>
        <message>入库计划已进行处理，无法审核。</message>
      </exception>
      <!--入库单 4100~4199-->
      <exception>
        <code>INBOUNDBILL_NOTFOUND</code>
        <message>入库单不存在。</message>
      </exception>
      <exception>
        <code>INBOUNDTASK_NOTFOUND</code>
        <message>收货准备任务不存在。</message>
      </exception>
      <exception>
        <code>INBOUNDBILLDETAIL_NOTFOUND</code>
        <message>入库单明细不存在。</message>
      </exception>
      <exception>
        <code>4101</code>
        <message>此入库单当前状态下不允许审核操作。 </message>
      </exception>
      <exception>
        <code>INBOUNDBILL_CREATE_ERROR</code>
        <message>入库单创建失败。</message>
      </exception>
      <exception>
        <code>RECEIVINGTASK_DETAIL_CREATE_ERROR</code>
        <message>收货任务明细信息时创建失败。</message>
      </exception>
      <exception>
        <code>4104</code>
        <message>新批次号创建失败。</message>
      </exception>
      <exception>
        <code>INBOUNDBILL_DETAIL_CREATE_ERROR</code>
        <message>入库单明细创建失败。</message>
      </exception>
      <exception>
        <code>INBOUNDPLAN_STATUS_ERROR</code>
        <message>该入库计划当前状态下不允许此操作。</message>
      </exception>
      <exception>
        <code>INBOUNDBILL_STATUS_ERROR</code>
        <message>该入库单当前状态下不允许此操作。</message>
      </exception>
      <!--移货单 4200~4299-->
      <exception>
        <code>TRANSFERBILL_CREATE_RROR</code>
        <message>无移货明细信息,移货单创建失败。</message>
      </exception>
      <exception>
        <code>TRANSFERBILL_DETAIL_CREATE_RROR</code>
        <message>移货明细创建失败。</message>
      </exception>
      <exception>
        <code>TRANSFERBILL_NOTFOUND</code>
        <message>移货单不存在。</message>
      </exception>
      <exception>
        <code>TRANSFERBILL_STATUS_ERROR</code>
        <message>此移货单当前状态下不允许审核操作。</message>
      </exception>
       <exception>
        <code>STOCK_NOTFOUND</code>
        <message>库存不存在。</message>
      </exception>
      <exception>
        <code>STOCK_LESS</code>
        <message>移货库存不足。</message>
      </exception>
      <exception>
        <code>STOCK_TRANSFER_ERROR</code>
        <message>移货失败。</message>
      </exception>
      <!--库存管理 4300~4399-->
      <exception>
        <code>STOCK_CREATE_ERROR</code>
        <message>库存创建失败。</message>
      </exception>
      <exception>
        <code>STOCK_SN_CREATE_ERROR</code>
        <message>库存序列号创建失败。</message>
      </exception>
      <exception>
        <code>STOCK_LESS_ASSIGN</code>
        <message>货物可用库存不足以分配。</message>
      </exception>
      <!--出库计划 4400~4499-->
      <exception>
        <code>4400</code>
        <message>出库计划不存在。</message>
      </exception>
      <exception>
        <code>OUTBOUNDPLAN_NOTFOUND</code>
        <message>此出库计划当前状态不能分配库存。</message>
      </exception>
      <exception>
        <code>OUTBOUNDPLAN_STATUS_ERROR</code>
        <message>此出库计划当前状态下不允许审核操作。</message>
      </exception>
      <!-- 盘点单-->
      <exception>
        <code>COUNTBILL_NOTFOUND</code>
        <message>盘点单不存在。</message>
      </exception>
            <exception>
        <code>COUNTBILL_DETAIL_NOTFOUND</code>
        <message>盘点单明细不存在。</message>
      </exception>
      <exception>
        <code>COUNTBILL_STATUS_ERROR</code>
        <message>此盘点单当前状态下不允许审核操作。</message>
      </exception>
      <!-- 盘点单-->
      <exception>
        <code>OUTBOUNDBILL_NOTFOUND</code>
        <message>出库单不存在。</message>
      </exception>
      <exception>
        <code>OUTBOUNDBILL_STATUS_ERROR</code>
        <message>此出库单当前状态下不允许审核操作。</message>
      </exception>

      <exception>
        <code>PUTAWAYBILL_CREATE_ERROR</code>
        <message>上架任务单创建失败。</message>
      </exception>

      <exception>
        <code>PUTAWAY_RESULT_ERROR</code>
        <message>上架任务结果异常。</message>
      </exception>

      <exception>
        <code>RECEIVING_RESULT_DETAIL_ERROR</code>
        <message>上架任务结果明细异常。</message>
      </exception>
    </exceptions>
  </category>
</businessException>