<?xml version="1.0" encoding="utf-8"?>

<sqlMap namespace="InboundBillAggregate" xmlns="http://ibatis.apache.org/mapping"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="InboundBillAggregate" type="Business.Domain.Inventory.InboundBillAggregate,Business.Domain" />
  </alias>
    
  <!-- 缓存机制 -->
  <cacheModels>
    <cacheModel id="InboundBillAggregateCache" implementation="MEMORY">
      <!-- 设定缓存有效期，如果超过此设定值，则将此CacheModel缓存清空 -->
      <flushInterval minutes="5" />
      <flushOnExecute statement="InboundBillAggregate.Insert" />
      <flushOnExecute statement="InboundBillAggregate.Update" />
      <flushOnExecute statement="InboundBillAggregate.Delete" />
      <flushOnExecute statement="InboundBillAggregate.DeleteAll" />
      <property name="Type" value="Weak" />
    </cacheModel>
  </cacheModels>

  <resultMaps>
    <resultMap class="InboundBillAggregate" id="InboundBillAggregate_Result">
      <result column="Id" property="Id" />
      <result column="BillId" property="BillId" />
      <result column="SkuId" property="SkuId" />
      <result column="PackId" property="PackId" />
      <result column="Qty" property="Qty" />
    </resultMap>
  </resultMaps>

  <parameterMaps>
    <parameterMap id="SplitPagerParameters" class="Hashtable">
      <parameter property="TableName" column="TableName" />
      <parameter property="SelectFields" column="SelectFields" />
      <parameter property="OrderByField" column="OrderByField" />
      <parameter property="PageSize" column="PageSize" />
      <parameter property="PageIndex" column="PageIndex" />
      <parameter property="OrderType" column="OrderType" />
      <parameter property="SelectCondition" column="SelectCondition" />
      <parameter property="RecordsCount" column="RecordsCount" direction="Output" />
    </parameterMap>
  </parameterMaps>

  <statements>
    <select id="InboundBillAggregate.Get" resultMap="InboundBillAggregate_Result"
            cacheModel="InboundBillAggregateCache">
      <![CDATA[
                SELECT Id,BillId,SkuId,PackId,Qty FROM dbo.InboundBillAggregate WITH (NOLOCK)
                    WHERE Id = #Id#
            ]]>	
    </select>

    <select id="InboundBillAggregate.GetAll" resultMap="InboundBillAggregate_Result">
      <![CDATA[
                SELECT Id,BillId,SkuId,PackId,Qty
                    FROM dbo.InboundBillAggregate WITH (NOLOCK)
            ]]>
    </select>

    <select id="InboundBillAggregate.GetByCondition" resultMap="InboundBillAggregate_Result"
            cacheModel="InboundBillAggregateCache">
      <![CDATA[
                SELECT Id,BillId,SkuId,PackId,Qty
                    FROM dbo.InboundBillAggregate WITH (NOLOCK)
                    WHERE $value$
            ]]>
    </select>

    <procedure id="InboundBillAggregate.GetByPager" parameterMap="SplitPagerParameters"
               resultMap="InboundBillAggregate_Result">
      <![CDATA[
                Usp_SplitPager
            ]]>
    </procedure>

    <insert id="InboundBillAggregate.Insert" parameterClass="InboundBillAggregate">
      <![CDATA[
                INSERT INTO dbo.InboundBillAggregate 
                    (BillId,SkuId,PackId,Qty) 
                VALUES 
                    (#BillId#,#SkuId#,#PackId#,#Qty#)
            ]]>	
      <selectKey resultClass="int" type="post" property="Id"> 
        <![CDATA[
                SELECT @@IDENTITY as value
            ]]>
      </selectKey>
    </insert>

    <update id="InboundBillAggregate.Update" parameterClass="InboundBillAggregate">
      <![CDATA[
                UPDATE dbo.InboundBillAggregate SET BillId = #BillId#,SkuId = #SkuId#,PackId = #PackId#,Qty = #Qty#
                    WHERE Id = #Id#
            ]]>
    </update>

    <delete id="InboundBillAggregate.Delete" parameterClass="InboundBillAggregate">
      <![CDATA[
                DELETE FROM dbo.InboundBillAggregate WHERE Id = #Id#
            ]]>
    </delete>

    <delete id="InboundBillAggregate.DeleteAll" parameterClass="InboundBillAggregate">
      <![CDATA[
                DELETE FROM dbo.InboundBillAggregate
            ]]>
    </delete>
  </statements>
</sqlMap>