<?xml version="1.0" encoding="utf-8"?>

<sqlMap namespace="InboundBillException" xmlns="http://ibatis.apache.org/mapping"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="InboundBillException" type="Business.Domain.Inventory.InboundBillException,Business.Domain" />
  </alias>
    
  <!-- 缓存机制 -->
  <cacheModels>
    <cacheModel id="InboundBillExceptionCache" implementation="MEMORY">
      <!-- 设定缓存有效期，如果超过此设定值，则将此CacheModel缓存清空 -->
      <flushInterval minutes="5" />
      <flushOnExecute statement="InboundBillException.Insert" />
      <flushOnExecute statement="InboundBillException.Update" />
      <flushOnExecute statement="InboundBillException.Delete" />
      <flushOnExecute statement="InboundBillException.DeleteAll" />
      <property name="Type" value="Weak" />
    </cacheModel>
  </cacheModels>

  <resultMaps>
    <resultMap class="InboundBillException" id="InboundBillException_Result">
      <result column="Id" property="Id" />
      <result column="BillId" property="BillId" />
      <result column="SkuId" property="SkuId" />
      <result column="PackId" property="PackId" />
      <result column="Qty" property="Qty" />
      <result column="ExceptionReason" property="ExceptionReason" />
    </resultMap>
  </resultMaps>

  <parameterMaps>
    <parameterMap id="SplitPagerParameters" class="Hashtable">
      <parameter property="TableName" column="TableName" />
      <parameter property="SelectFields" column="SelectFields" />
      <parameter property="OrderByField" column="OrderByField" />
      <parameter property="PageSize" column="PageSize" />
      <parameter property="PageIndex" column="PageIndex" />
      <parameter property="OrderType" column="OrderType" />
      <parameter property="SelectCondition" column="SelectCondition" />
      <parameter property="RecordsCount" column="RecordsCount" direction="Output" />
    </parameterMap>
  </parameterMaps>

  <statements>
    <select id="InboundBillException.Get" resultMap="InboundBillException_Result"
            cacheModel="InboundBillExceptionCache">
      <![CDATA[
                SELECT Id,BillId,SkuId,PackId,Qty,ExceptionReason FROM dbo.InboundBillException WITH (NOLOCK)
                    WHERE Id = #Id#
            ]]>	
    </select>

    <select id="InboundBillException.GetAll" resultMap="InboundBillException_Result">
      <![CDATA[
                SELECT Id,BillId,SkuId,PackId,Qty,ExceptionReason
                    FROM dbo.InboundBillException WITH (NOLOCK)
            ]]>
    </select>

    <select id="InboundBillException.GetByCondition" resultMap="InboundBillException_Result"
            cacheModel="InboundBillExceptionCache">
      <![CDATA[
                SELECT Id,BillId,SkuId,PackId,Qty,ExceptionReason
                    FROM dbo.InboundBillException WITH (NOLOCK)
                    WHERE $value$
            ]]>
    </select>

    <procedure id="InboundBillException.GetByPager" parameterMap="SplitPagerParameters"
               resultMap="InboundBillException_Result">
      <![CDATA[
                Usp_SplitPager
            ]]>
    </procedure>

    <insert id="InboundBillException.Insert" parameterClass="InboundBillException">
      <![CDATA[
                INSERT INTO dbo.InboundBillException 
                    (BillId,SkuId,PackId,Qty,ExceptionReason) 
                VALUES 
                    (#BillId#,#SkuId#,#PackId#,#Qty#,#ExceptionReason#)
            ]]>	
      <selectKey resultClass="int" type="post" property="Id"> 
        <![CDATA[
                SELECT @@IDENTITY as value
            ]]>
      </selectKey>
    </insert>

    <update id="InboundBillException.Update" parameterClass="InboundBillException">
      <![CDATA[
                UPDATE dbo.InboundBillException SET BillId = #BillId#,SkuId = #SkuId#,PackId = #PackId#,Qty = #Qty#,ExceptionReason = #ExceptionReason#
                    WHERE Id = #Id#
            ]]>
    </update>

    <delete id="InboundBillException.Delete" parameterClass="InboundBillException">
      <![CDATA[
                DELETE FROM dbo.InboundBillException WHERE Id = #Id#
            ]]>
    </delete>

    <delete id="InboundBillException.DeleteAll" parameterClass="InboundBillException">
      <![CDATA[
                DELETE FROM dbo.InboundBillException
            ]]>
    </delete>
  </statements>
</sqlMap>