<?xml version="1.0" encoding="utf-8"?>

<sqlMap namespace="SkuProperty" xmlns="http://ibatis.apache.org/mapping"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="SkuProperty" type="Business.Domain.Wms.SkuProperty,Business.Domain" />
  </alias>
    
  <!-- 缓存机制 -->
  <cacheModels>
    <cacheModel id="SkuPropertyCache" implementation="MEMORY">
      <!-- 设定缓存有效期，如果超过此设定值，则将此CacheModel缓存清空 -->
      <flushInterval minutes="5" />
      <flushOnExecute statement="SkuProperty.Insert" />
      <flushOnExecute statement="SkuProperty.Update" />
      <flushOnExecute statement="SkuProperty.Delete" />
      <flushOnExecute statement="SkuProperty.DeleteAll" />
      <property name="Type" value="Weak" />
    </cacheModel>
  </cacheModels>

  <resultMaps>
    <resultMap class="SkuProperty" id="SkuProperty_Result">
      <result column="Id" property="Id" />
      <result column="SkuId" property="SkuId" />
      <result column="PropertyId" property="PropertyId" />
      <result column="Priority" property="Priority" />
    </resultMap>
  </resultMaps>

  <parameterMaps>
    <parameterMap id="SplitPagerParameters" class="Hashtable">
      <parameter property="TableName" column="TableName" />
      <parameter property="SelectFields" column="SelectFields" />
      <parameter property="OrderByField" column="OrderByField" />
      <parameter property="PageSize" column="PageSize" />
      <parameter property="PageIndex" column="PageIndex" />
      <parameter property="OrderType" column="OrderType" />
      <parameter property="SelectCondition" column="SelectCondition" />
      <parameter property="RecordsCount" column="RecordsCount" direction="Output" />
    </parameterMap>
  </parameterMaps>

  <statements>
    <select id="SkuProperty.Get" resultMap="SkuProperty_Result" cacheModel="SkuPropertyCache">
      <![CDATA[
                SELECT Id,SkuId,PropertyId,Priority FROM dbo.SkuProperty WITH (NOLOCK)
                    WHERE Id = #Id#
            ]]>	
    </select>

    <select id="SkuProperty.GetAll" resultMap="SkuProperty_Result">
      <![CDATA[
                SELECT Id,SkuId,PropertyId,Priority
                    FROM dbo.SkuProperty WITH (NOLOCK)
            ]]>
    </select>

    <select id="SkuProperty.GetByCondition" resultMap="SkuProperty_Result" cacheModel="SkuPropertyCache">
      <![CDATA[
                SELECT Id,SkuId,PropertyId,Priority
                    FROM dbo.SkuProperty WITH (NOLOCK)
                    WHERE $value$
            ]]>
    </select>

    <procedure id="SkuProperty.GetByPager" parameterMap="SplitPagerParameters" resultMap="SkuProperty_Result">
      <![CDATA[
                Usp_SplitPager
            ]]>
    </procedure>

    <insert id="SkuProperty.Insert" parameterClass="SkuProperty">
      <![CDATA[
                INSERT INTO dbo.SkuProperty 
                    (SkuId,PropertyId,Priority) 
                VALUES 
                    (#SkuId#,#PropertyId#,#Priority#)
            ]]>	
      <selectKey resultClass="int" type="post" property="Id"> 
        <![CDATA[
                SELECT @@IDENTITY as value
            ]]>
      </selectKey>
    </insert>

    <update id="SkuProperty.Update" parameterClass="SkuProperty">
      <![CDATA[
                UPDATE dbo.SkuProperty SET SkuId = #SkuId#,PropertyId = #PropertyId#,Priority = #Priority#
                    WHERE Id = #Id#
            ]]>
    </update>

    <delete id="SkuProperty.Delete" parameterClass="SkuProperty">
      <![CDATA[
                DELETE FROM dbo.SkuProperty WHERE Id = #Id#
            ]]>
    </delete>

    <delete id="SkuProperty.DeleteAll" parameterClass="SkuProperty">
      <![CDATA[
                DELETE FROM dbo.SkuProperty
            ]]>
    </delete>
  </statements>
</sqlMap>